# General
__pycache__/

# App files
resources/Peliculas.xlsx
resources/Peliculas_New.xlsx
myUser.sql

# Docker files
.volumes/  

#Aux files
00_dockerBuildFull.bat
0_dockerBuild.bat
1_dockerUp.bat
2_dockerDown.bat